@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #111827; /* gray-900 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.prose-invert {
  --tw-prose-body: #d1d5db;
  --tw-prose-headings: #fff;
  --tw-prose-lead: #9ca3af;
  --tw-prose-links: #60a5fa;
  --tw-prose-bold: #fff;
  --tw-prose-counters: #9ca3af;
  --tw-prose-bullets: #4b5563;
  --tw-prose-hr: #374151;
  --tw-prose-quotes: #f3f4f6;
  --tw-prose-quote-borders: #374151;
  --tw-prose-captions: #9ca3af;
  --tw-prose-code: #fff;
  --tw-prose-pre-code: #d1d5db;
  --tw-prose-pre-bg: rgba(0, 0, 0, 0.5);
  --tw-prose-th-borders: #4b5563;
  --tw-prose-td-borders: #374151;
}
